<div class="container-fluid p-0">
    <div class="main-center row w-75">
        <div class="col-md-12 col-md-6 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="../../assets/img/bit-time.png" alt="bit">
        </div>
    </div>
</div>
