.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: row-reverse;
    height: 100vh;
    background: linear-gradient(#B4BF0F, #95A109, transparent);
    animation: container-fluid 5s infinite;
}

@keyframes container-fluid {
    from { background: linear-gradient(360deg, #B4BF0F, #95A109, transparent);}
    to { background: linear-gradient(0deg #95A109, #B4BF0F, transparent,);}
}

.bit-span {
    font-size: 42px;
    margin-bottom: 12px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}