.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0px;
    background: linear-gradient(9deg, #B4BF0F, #95A109,transparent);
}

.main-center {
    display: flow-root !important;
}

.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}