<div class="container-fluid">
    <div class="main-center row w-25">
        <div class="col-md-12 col-md-6 d-flex justify-content-center align-items-center">
            <img class="img-fluid" src="../../assets/img/bit-time.png" alt="bit">
        </div>
        <div class="form-container mat-elevation-z5">
            <h1>Login</h1>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email" type="email"/>
                    <mat-error *ngIf="email?.errors?.['required']">
                        Email é obrigatório
                    </mat-error>
                    <mat-error *ngIf="email?.errors?.['required']">
                        Insira um formato de e-mail correto
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Senha" formControlName="password" type="password"/>
                    <mat-error *ngIf="password?.errors?.['required']">
                        SSenha é obrigatório
                    </mat-error>
                </mat-form-field>
                <div class="center margin-top">
                    <button mat-raised-button color="primary" type="submit">
                        Login
                    </button>
                </div>
                <span class="center margin-top"> 
                    Novo Cadastro
                    <a class="sign-up-link" routerLink="/sign-up">
                        Cadastra-se
                    </a>
                </span>
            </form>
        </div>
    </div>
</div>

