.container-fluid {
    height: 100vh;
    background: linear-gradient(360deg, #B4BF0F, #95A109,transparent);
}
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.digitalClock{
    position: relative;
    width: 70%;
    height: 118%;
    justify-content: center;
    align-items: center;
    background: #F8F4F4;
    box-shadow: inset 2px 2px 4px 4px #555353;
    font-size: 8vw;
    font-weight: bolder;
    -webkit-text-decoration: uppercase;
    text-decoration: uppercase;
    margin-top: 8%;
    padding: 20px;
}

.btn-change {
    width: 8rem;
    height: 7rem;
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0px 1px 7px 0px #000;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-radius: 4px;
    margin-top: 8px;
}

.btn-change-color-active {
    background-color: #B9C410;
}

.dayTitle{
    font-size: 20px;
    margin-bottom: 10px;
}

.ampm{
    margin-top: 3px;
    font-size: 12px;
}

#container {
    height: 400px;
}