<div class="container-fluid">
  <h1 *ngIf="user$ | async as user"> Bem-vindo ao Bit Atômico Time {{ user.displayName }}!</h1>
  <nav class="d-flex flex-row justify-content-center align-items-center">
      <div>
          <button class="btn btn-change btn-change-color-active" (click)="lock()">
            <span class="material-icons d-block">
              lock
            </span>
            Lock Service
          </button>
          <button class="btn btn-change btn-change-color-active" (click)="unlock()">
            <span class="material-icons d-block">
              logout
            </span>
            Unlok service
          </button>
      </div>
  </nav>
  <div class="container">
      <div class="row">
          <div class="col-12 d-flex justify-content-center align-items-center">
              <div class="digitalClock d-flex rounded-3">
              <div>{{ hour }} : &nbsp;</div>
              <div>{{ minute }} : &nbsp;</div>
              <div>{{ second }}</div>
              </div>
          </div>    
          <footer class="pt-3 mt-4 fixed-bottom d-flex justify-content-center align-items-center">
          <img class="img-fluid" width="100" src="../../assets/img/bit-time.png" alt="bit">
          </footer>
      </div>
  </div>
</div>