/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.form-container {
    display: block;
    max-width: 324px;
    margin: auto;

    background: #eceff1;
    padding: 22px;
    border-radius: 16px;
}

.form-container mat-form-field {
    width: 100%;
    margin-top: 14px
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top {
    margin-top: 16px;
}

.text-center {
    text-align: center;
}
