mat-toolbar {
    justify-content: space-between;
}

// .content {
//    width:100%
// }

.toolbar-gradient {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    background: linear-gradient(0deg, #B4BF0F, #95A109, transparent);
}