<mat-toolbar class="toolbar-gradient">
  BIT AtÔMICO TIME

  <ng-container *ngIf="authService.currentUser$ | async as user else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>
        account_circle
      </mat-icon>
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>
        login
      </mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>
<div class="container-fluid p-0">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Logout</button>
</mat-menu>