<div class=" container-fluid d-flex justify-content-center align-items-center">
    <div class="form-container mat-elevation-z5">
        <h1>Novo usuário</h1>
        <form [formGroup]="signUpForm" (ngSubmit)="submit()">
            <mat-form-field>
                <input matInput placeholder="Nome" formControlName="name" type="email"/>
                <mat-error *ngIf="name?.errors?.['required']">
                    Nome is required
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" type="email"/>
                <mat-error *ngIf="email?.errors?.['required']">
                    Email é obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Senha" formControlName="password" type="password"/>
                <mat-error *ngIf="password?.errors?.['required']">
                    Senha é obrigatório
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Confirmar Senha" formControlName="confirmPassword" type="password"/>
                <mat-error *ngIf="confirmPassword?.errors?.['required']">
                    Confirmar Senha é obrigatório
                </mat-error>
            </mat-form-field>
            <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
                A senha deve corresponder
            </mat-error>
            <div class="center margin-top">
                <button mat-raised-button color="primary" type="submit">
                    Cadastrar!
                </button>
            </div>
        </form>
    </div>
</div>

