.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: row-reverse;
    height: 100vh;
    padding: 0px;
    background: linear-gradient(9deg, #B4BF0F, #95A109,transparent);
}